    <!-- Contact Section -->
<section id="contact" class="contact-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ page.contact.title }}</h2>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <button class="btn btn-blue">{{page.contact.firstBtn}}</button>
                        <button class="btn btn-default">{{page.contact.secondBtn}}</button>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>