<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">{{ page.hero.title }}</h1>
                <h2 class="intro-text">{{ page.hero.description }}</h2>
                <a href={{site.googleOrderForm}} target="_blank">
                    <button class="btn btn-blue">{{ page.hero.buttonTxt }}</button>
                </a>
            </div>
        </div>
        <img src="{{page.hero.img | prepend: site.baseurl }}" alt="heroimage" />
    </div>
</header>
