    <!-- Download Section -->
<section id="how-to-use">
    <div class="features-section">
        <div class="container">
            {% for feature in page.howToUse %}
                {% assign remainder = forloop.index | modulo: 2 %}
                {% if remainder == 1 %}
                <div class="row how-to-use">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <label>{{ feature.label }}</label>
                        <h2>{{ feature.title }}</h2>
                        <p>{{ feature.description }}</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 text-center">
                        <img src={{ feature.img | prepend: site.baseurl }} alt={{feature.title}} />
                    </div>
                </div>
                {% else %}
                <div class="row how-to-use">
                    <div class="col-lg-7 col-md-7 col-sm-12 text-center">
                        <img src={{ feature.img | prepend: site.baseurl }} alt={{feature.title}} />
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <label>{{ feature.label }}</label>
                        <h2>{{ feature.title }}</h2>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section>