 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{"/img/logo.png" | prepend: site.baseurl }}" alt="logo" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for item in site.data.navigation.languages %} 
                        {% if item.language == page.lang %} 
                            {% for link in item.links %} 
                                <li>
                                    <a class="page-scroll" href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endfor %} 
                        {% endif %} 
                    {% endfor %}
                        {% if page.lang == "de" %}
                        <a href="{{site.googleForm}}" target="_blank">
                            <button class="btn-blue">Mehr erfahren</button>
                        </a>
                        {% else %}
                        <a href="{{site.googleForm}}" target="_blank">
                            <button class="btn-blue">Learn More</button>
                        </a>
                        {% endif %}
                    <li>
                        {% if page.lang == "de" %}
                        <a href="{{ "/en" | prepend: site.baseurl}}" ">
                            En
                        </a>
                        {% else %}
                        <a href="{{"/" | prepend: site.baseurl}}"">
                            DE
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>